body{
    display: flex;
    flex-wrap: wrap;
    background-color: #2f822a;
}
.card{
    margin: 20px;
    padding: 0 2px;
    cursor: move;
    width: auto;
    width: fit-content;
}

img{
    border-radius: 5px;
    border: 2px solid black;
    height: 120px;
}